<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Reactix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/concert.css}">
</head>

<body th:data-concert-id="${concert.id}">
    <div class="container">
        <header>
            <a class="logo-anchor" th:href="@{/}">
                <img th:src="@{/image/reactix-logo-light-bg-no-top.png}" />
            </a>
            <div class="header-right">
                <a class="header-link" th:href="@{/}">
                    Előadók
                </a>
                <a class="header-link" th:href="@{/}">
                    Helyszínek
                </a>
                <a class="header-link" th:href="@{/}">
                    Bejelentkezés
                </a>
            </div>
        </header>
        <div class="artist-image-container" th:style="'background-image: url(' + @{${concert.artist.assets.get('concertImage')}} +');'">
            <div class="concert-information-container">
                <div class="concert-title" th:text="${concert.title}">
                </div>
                <div class="concert-date-and-venue">
                    <div th:text="${#temporals.format(concert.time, 'yyyy. MM. dd.')}">
                    </div>
                    <div th:text="${concert.venue.location} + ', ' + ${concert.venue.name}">
                    </div>
                </div>
            </div>
        </div>
        <div class="purchase-container">
            <div class="other-viewers">
                <div class="count">
                    0
                </div>
                <div class="viewer-text">
                    <div>
                        rajongó böngészi ezt a koncertet
                    </div>
                    <div>
                        rajtad kívül.
                    </div>
                </div>
            </div>
            <div class="ticket-button">
                <div>
                    Ott leszek!
                </div>
            </div>
        </div>
    </div>

    <script async th:src="@{/script/concert.js}"></script>
</body>

</html>